[submodule "data/raw"]
	path = data/raw
	url = https://github.com/kingsdigitallab/ISicily.git
[submodule "xslt/epidoc"]
	path = xslt/epidoc
	url = https://github.com/kingsdigitallab/corpus-building-epidoc-stylesheets.git
