[submodule "data/raw"]
	path = data/raw
  url = https://github.com/ISicily/ISicily.git
[submodule "xslt/epidoc"]
	path = xslt/epidoc
	url = https://github.com/kingsdigitallab/corpus-building-epidoc-stylesheets.git
[submodule "frontend/static/fonts/nau"]
	path = frontend/static/fonts/nau
	url = https://github.com/kingsdigitallab/new-athena-unicode.git
